body {
    background: #fff;
    color: #939393;
    font-size: 0.9rem;
    line-height: 1.45;
}
h2, h3, .c-number {
    font-size: 1.0rem;
    line-height: 1.45;
    text-transform: uppercase;
    margin-bottom: 0.55rem;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #727272;
}
.fa, .fab, .fas {
    font-size: 30px; 
    color: #ededed;; 
    cursor: pointer;
}
    
/*BACKGROUND-COLORS*/
.BG-pink {
    background: #fbfbfb;
}
.BG-gray {
    background: #f8f8f8;
}
.BG-bej {
    background: #fcfcfc;
}

.padding-block {
    padding: 3.15rem 3.5rem 1.4rem;
    height: 100%;
}
.title-content {
    text-align: right;
    padding-bottom: 1.75rem;
}

/*HEADER*/
.avatar {
    width: 14rem;
    border-radius: 50%;
}
.CV-header1-inner, .CV-header2-inner {
    display: flex;
    justify-content: space-between;
}
.brand-title {
    margin-bottom: 2rem;
}
.brand-first-word {
    font-weight: 300;
    font-size: 2.5rem;
    color: #939393;
    display: block;
    line-height: 2rem;
}
.brand-second-word {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3.5rem;
    color: #F8BB10;
    display: block;
    line-height: 3rem;
}
.brand-sizer {
    color: #939393;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin-left: .3rem;
}
.header-social-buttons {
    align-self: flex-end;
    margin-bottom: 0.55rem;
    display: flex;
}
.header-view {
    padding-left: 0.7rem;
}

/*CONTACT*/
.header-contact {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #ececec;
    padding-top: 2rem;
}
.footer-contact {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ececec;
    padding-bottom: 2rem;
}
.contakt-title {
    color: #727272;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    margin-bottom: 0.55rem;
}

/*INTRO*/
.inner-text {
    font-size: 1.15rem;
    margin-bottom: 1.375rem;
    font-weight: 400;
}

/*EXPERTICE*/
.expertise-content {
    display: flex;
    flex-flow: row wrap;
    margin-right: -3.5rem;
    position: relative;
}
.expertise-item {
    flex: 0 0 auto;
    width: calc(99.999999% * 0.5);
    display: flex;
    padding: 0 2rem 2rem 0;
}
.expertice-number {
    width: 2.8rem;
    color: #F8BB10;
    font-size: 1.2rem;
    line-height: 1.45;
    text-transform: uppercase;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    margin-right: 1rem;
}
 
/*SKILLS*/
.skills-content {
    display: flex;
    flex-flow: row wrap;
    margin-right: -3.5rem;
    position: relative;
}
.skills-item {
    flex: 0 0 auto;
    width: calc(99.999999% * 0.5);
    display: flex;
    flex-direction: column;
    padding: 0 2rem 2rem 0;
}
.skills-title {
    display: flex;
}
.skills-proc  {
    color: #F8BB10;
    font-size: 1.0rem;
    line-height: 1.45;
    text-transform: uppercase;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    margin-right: 1rem;
}
.skills-text {
    font-size: 1.0rem;
    line-height: 1.45;
    text-transform: uppercase;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #727272;
}
.skills-progress-bar {
    background: #ececec;
    margin-top: 0.55rem;
    position: relative;
    height: 5px;
}
.skills-progress-proc {
    transition: width 1.4s ease-in-out .5s;
    background: #F8BB10;
    height: 100%;
}
.skills-progress-proc {
    width: 0;
}

/*EXPIRIENCE*/
.experience-timeline {
    border-color: #ececec;
    border-left-width: 2px;
    border-left-style: solid;
    margin-left: calc(1rem - 2px);
    padding-left: 25px;
    position: relative;
}
.timeline-item {
    position: relative;
}
.timeline-point {
    background: #F8BB10;
    box-shadow: 0 0 0 6px #fff;
    height: 10px;
    width: 10px;
    position: absolute;
    left: -31px;
    top: 3px;
    border-radius: 50%;
}
.timeline-grid {
    padding-bottom: 1.75rem;
    display: flex;
    flex-flow: row wrap;
    margin-right: -3.5rem;
    position: relative;
}
.timeline-grid-col {
    flex: 0 0 auto;
    width: calc(99.999999% * 0.41667);
    margin-right: 0;
    padding-right: 3.5rem;
    margin-bottom: 0;
}
.work-time {
    opacity: .6;
    font-size: 0.7rem;
    font-weight: 500;
    margin-bottom: .4rem;
}
.work-heading {
    margin-bottom: .4rem;
    color: #727272;
    font-size: 1.2rem;
    line-height: 1.45;
    text-transform: uppercase;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
}
.work-title {
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: .4rem;
    color: #727272;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.work-location {
    opacity: .6;
    font-size: 0.7rem;
    font-weight: 500;
    margin-bottom: .4rem;
}
.timeline-grid-text {
    margin-right: 0;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.58333);
    padding-right: 3.5rem;
    margin-bottom: 0;
}

/*EDUCATION*/
.education-timeline {
    border-color: #ececec;
    border-left-width: 2px;
    border-left-style: solid;
    margin-left: calc(1rem - 2px);
    padding-left: 25px;
    position: relative;
    padding-top: 3.15rem;
}
.timeline-end {
    border-color: #ececec;
    height: 1px;
    width: 16px;
    position: absolute;
    left: -9px;
    bottom: 0;
    border-width: 1px;
    border-style: solid;
}

/*PORTFOLIO*/




/*GRID*/
.CV-container {
    height: 100%;
    display: grid;
    grid-template-areas: 
    '. header header1-inner header1-inner .'
    '. header contact1-inner contact1-inner .'
    '. intro intro-inner intro-inner . '
    '. expertise expertise-inner expertise-inner .'
    '. skills skills-inner skills-inner .'
    '. experience experience-inner experience-inner .'
    '. education education-inner education-inner .'
    '. awards awards-inner awards-inner .'
    '. portfolio portfolio-inner portfolio-inner .'
    '. clients clients-inner clients-inner .'
    '. contact contact2-inner contact2-inner .'
    '. contact header2-inner header2-inner .' ;

    grid-template-columns: 0.3fr 1fr 1fr 1fr 0.3fr;
    grid-template-rows: repeat(12, auto);
}
.CV-header {
    grid-area: header;
}
.CV-intro {
    grid-area: intro;
}
.CV-expertise {
    grid-area: expertise;
}
.CV-skills {
    grid-area: skills;
}
.CV-experience {
    grid-area: experience;
}
.CV-education {
    grid-area: education;
}
.CV-profiles {
    grid-area: profiles;
}
.CV-awards {
    grid-area: awards;
}
.CV-portfolio {
    grid-area: portfolio;
}
.CV-clients {
    grid-area: clients;
}
.CV-contact {
    grid-area: contact;
}
.CV-header1-inner {
    grid-area: header1-inner;
}
.CV-header2-inner {
    grid-area: header2-inner;
}
.CV-intro-inner {
    grid-area: intro-inner;
}
.CV-expertise-inner {
    grid-area: expertise-inner;
}
.CV-skills-inner {
    grid-area: skills-inner;
}
.CV-experience-inner {
    grid-area: experience-inner;
}
.CV-education-inner {
    grid-area: education-inner;
}
.CV-profiles-inner {
    grid-area: profiles-inner;
}
.CV-awards-inner {
    grid-area: awards-inner;
}
.CV-portfolio-inner {
    grid-area: portfolio-inner;
}
.CV-clients-inner {
    grid-area: clients-inner;
}
.CV-contact1-inner {
    grid-area: contact1-inner; 
}
.CV-contact2-inner {
    grid-area: contact2-inner; 
}

@media screen and (max-width: 1024px) {
    .CV-container {
        height: 100%;
        display: grid;
        grid-template-areas: 
        'header header'
        'header1-inner header1-inner'
        'contact1-inner contact1-inner'
        'intro intro'
        'intro-inner intro-inner'
        'expertise expertise' 
        'expertise-inner expertise-inner'
        'skills skills'
        'skills-inner skills-inner'
        'experience experience' 
        'experience-inner experience-inner'
        'education education'
        'education-inner education-inner'
        'profiles-inner profiles-inner'
        'awards awards'
        'awards-inner awards-inner'
        'portfolio portfolio'
        'portfolio-inner portfolio-inner'
        'clients clients'
        'clients-inner clients-inner'
        'contact contact'
        'contact2-inner contact2-inner'
        'header2-inner header2-inner';
    
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(23, auto);
    }
    .title-content {
        text-align: left;
    }
}
@media screen and (max-width: 600px) {
    .CV-container {
        height: 100%;
        display: grid;
        grid-template-areas: 
        'header'
        'header1-inner'
        'contact1-inner'
        'intro'
        'intro-inner'
        'expertise' 
        'expertise-inner'
        'skills'
        'skills-inner'
        'experience' 
        'experience-inner'
        'education'
        'education-inner'
        'profiles' 
        'awards'
        'awards-inner'
        'portfolio'
        'portfolio-inner'
        'clients'
        'clients-inner'
        'contact'
        'contact2-inner'
        'header2-inner';
    
        grid-template-columns: 1fr;
        grid-template-rows: repeat(23, auto);
    }
    .title-content {
        text-align: left;
    }
}

/*BUTTON GO TO TOP*/
.text-block {
    width: 250px;
    margin: 50px;
  }
  #go-top {
    position: fixed; 
    text-align: center;
    line-height: 50px; 
    color: #fff;
    bottom: 40px; 
    right: 40px; 
    cursor:pointer; 
    display:none;
    width: 40px;
    height: 40px;
    background: #b8b7b7;
    opacity: 0.6;
  }
  #go-top:hover {
    background: #F8BB10;
  }