@font-face {
    font-family: 'Fractal';
    src: url(../fonts/Fractal.otf);
}

@font-face {
    font-family: 'BPreplayPro';
    src: url(../fonts/BPreplayPro.otf);
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
    box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    padding: 3%;
    /* background: #FFFFF0; */
    color: #505050;
    /* font-size: 1.5rem; */
    font-family: BPreplayPro;

}
.content {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

header{
    width: 100%;
    
}

address {
    font-size: 12px;
    letter-spacing: 2px;
}
h1 span{
    color: #4682B4;
}
address span {
    font-weight: bolder;
}
.avatar_info{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0%;
}

.logo_block {
    width: 15vw;
    height: 15vw;
    overflow: hidden;
    padding: 0;
    border-radius: 50%;

}
div {
    padding: 2%;
    /* width: 20%; */
}

.avatar {
    height: 100%;
    position: relative;
    left: -2vw;
    /* box-shadow: 10px 10px 5px rgb(185, 184, 184); */
}

header li {
    list-style-type: none;
    display: inline;
    padding: 2%;
    font-size: 20px;
}

h1 {
    font-family: 'Fractal';
    font-weight: bold;
    font-size: 3rem;
    
}
h2 {
    font-size: 2rem;
    /* text-decoration: underline; */
    color: #4682B4;
}
i {
    color: #505050;
    
}
i:hover {
     color: #4682B4;
     transition: all 1s;
 }
article {
    width: 100%;
    display: flex;
    align-items: center;
}
article li {
    list-style-type: none;
}

.skills_block {
    width: 20%;
}
.article_text {
    width: 80%;
}
.work_info {
    padding: 3px;
}

.about_me_text {
    padding: 1rem 0 0 0;
}

/* article li:hover {
    color: #4682B4;
} */

.sertificate_img {
    width: 40%;
    height: 100%;
    padding: 20px;

}
